body {
   margin: 8px;
}
.scene {
   display: none;
   background-color: rgb(240, 240, 255);
   margin: auto;
   width: 640px;
}
@media screen and (max-width: 656px) {
   div {
      width: 100%
   }
}